
/*
* P
*/
text-white {
    color: white;
}

.small-caps {
    font-variant: small-caps;
}

.let-space {
    letter-spacing: 2px;
}

.let-space-little {
    letter-spacing: 0.02px;
}

.letter-space {
    letter-spacing: -1px;
}

.justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.para-center {
    text-align: center;
}

.para-justify {
    text-align: justify;
}

/*
* Color
*/

.marron {
    background-color: #4a2d27;
}

.black {
    background-color: #222222;
}

.back-white {
    background-color: white;
}

/*
*  Line wrap 
*/

.line-wrap-maroon {
    position: relative;
    margin: 0.98vw 6vw 2vh;
    width: 5.6vw;
    height: 3px;
    overflow: hidden;
    background: darkred;
}

.line-wrap {
    position: relative;
    margin: 0.98vw 6vw 2vh;
    width: 5.6vw;
    height: 3px;
    overflow: hidden;
    background: darkred;
}
.line-wrap-black {
    position: relative;
    margin: 0.98vw 6vw 2vh;
    width: 5.6vw;
    height: 3px;
    overflow: hidden;
    background: black;
}

.width-all-vp {
    width: 100vw;
}

.center-elmt{
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    padding: 8px 8px;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
}

.not-mob {
    display: inherit;
}

.not-desk{
    display: none;
}
@media(max-width:767px) {
    .not-mob {
      display:none;
    }
    .not-desk{
    display: block;
}
}

.bordered {
    border: solid white 2px;
    padding:3px;
}