


/*
@media(max-width:767px) {
    p {
        font-size: 15px;
    }
}

@media(min-width:768px) {
    p {
        font-size: 15px;
    }
}

@media(min-width:992px) {
    p {
        font-size: 35px;
    }
}*/



/*
 * Text Home
 */

/*
 * Text Home
 */









/************ OBJECT ************/
/*
 * Gallery
 */









/* polaroid project */




/************ COMPONENT ************/



/************ TRUMPS ************/

/***** Home ***********/
/*
#imgOne {
    display: none;
}

@media(max-width: 767px) {
    #imgOne {
        display: block;
    }
}

@media(min-width: 768px) {
    #imgOne {
        display: block;
    }
}

@media(min-width: 992px) {
    #imgOne {
        display: none;
    }
}

@media(min-width: 1200px) {
    #imgOne {
        display: none;
    }
}

@media(max-width: 767px) {
    #imgTwo {
        display: none;
    }
}

@media(min-width: 768px) {
    #imgTwo {
        display: none;
    }
}

@media(min-width: 992px) {
    #imgTwo {
        display: block;
    }
}

@media(min-width: 1200px) {
    #imgTwo {
        display: block;
    }
}*/

/*.menu-galls {
    font-size: 3.5em;
    background-color: white;
    padding: 0.6em;
}

@media(max-width:767px) {
    .menu-galls {
        font-size: 2.5em;
        background-color: white;
        padding: 0.6em;
    }
}*/




